body {
  background-color: rgb(10, 3, 3);
  color: white;
}
#menu {
  display: none;
}
.menu-button {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  left: 30px;
  background-color: black;
}
.sidebar {
  background: rgb(44, 31, 31);
  backdrop-filter: blur(100px);
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  min-height: 100vh;
  z-index: 100;
  padding-top: 70px;
  transition: all 0.3s ease;
  box-shadow: 10px -9px 10px rgba(65, 58, 58, 0.5);
}
@media (max-width: 500px) {
  .sidebar {
    width: 150px;
  }
}
.sidebar label {
  font-size: 30px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
h3 {
  text-align: center;
}
nav {
  display: flex;
  flex-direction: column;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 22px;
}
.nav a:hover {
  
  
}
#menu:checked ~ .sidebar {
  left: 0;
}